.container {
    background-color: white;
    display: grid;
    grid-template-rows: repeat(16, 1fr);
    grid-template-columns: repeat(16, 1fr);
    gap: 1px;
    width: 100%;
    
}
.box {
    width: 100%;
    height: 1em;
    background-color: aqua;
}

.active{
    background-color: red;
}

.resetGame{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.clear {
    text-decoration: none;
    padding: 10px 40px 10px 40px;
    font-weight: bold;
}